@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

main{
    width: 80%;
    height: 500px;
    margin: 100px auto;
}

#logo{
    width: 20%;
    height: auto;
    margin: auto;
}

#logo img{
    width: 100%;
    height: 100%;
}

form{
    width: 35%;
    height: auto;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #0FB600;
}

.input{
    height: 35px;
    outline: none;
    border: 1px solid #0FB600;
    border-radius: 5px;
    font-size: 16px;
    margin: 10px 0px;
}

#login{
    background-color: #0FB600;
    padding: 8px 0px;
    margin: 10px 0px;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

#login:hover{
    transition: 1s all;
    background-color: #0fb600c2;
}

form p, span{
    margin: 5px 0px;
    font-size: 16px;
    cursor: pointer;
}

form div{
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: #0FB600;
}
