@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

main {
    margin: auto;
    width: 100%;
    height: auto;
}

header {
    position: relative;
    width: 100%;
    height: auto;
}

#nav-menu {
    width: 100%;
    height: 100px;
    display: flex;
    /* background-color: cadetblue; */
}

#menu-logo {
    width: 20%;
    display: flex;
    align-items: flex-start;
}

#menu-logo img {
    width: 100%;
    height: 100%;
}

#menu-links {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

#menu-links ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: rgb(211, 48, 48); */
}

#menu-links li a {
    color: #000;
    font-size: 16px;
    border-bottom: 2px solid transparent;
}

#menu-links li a:hover {
    transition: .2s ease-in-out;
    border-bottom: 2px solid #EA6200;
}

#div-botoes {
    width: 30%;
    height: 40px;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-around;
    margin: auto;
}

#div-botoes #entrar{
    width: 35%;
    border-radius: 50px;
    color: #fff;
    background-color: #EA6200;
    font-size: 15px;
    cursor: pointer;
    padding: 10px;
    text-align: center;
}

#div-botoes #entrar:hover{
    transition: all 1s;
    background-color: #fff;
    border: 1px solid #EA6200;
    color: #EA6200;
}

#div-botoes #cadastrar:hover{
    transition: all 1s;
    background-color: #fff;
    border: 1px solid #0FB600;
    color: #0FB600;
}

#div-botoes #cadastrar {
    width: 45%;
    color: #fff;
    border-radius: 50px;
    background-color: #0FB600;
    font-size: 15px;
    cursor: pointer;
    padding: 10px;
    text-align: center;
}

/* Fim Header */
/* Section Inicio*/

#inicio {
    display: flex;
    width: 100%;
    height: 500px;
    /* background-color: #a7ddb0; */
}

#div-topo {
    width: 50%;
    height: 100%;
    /* background-color: blueviolet; */
    display: flex;
}

#img-topo {
    width: 85%;
    height: 300px;
    margin: auto;
}

#img-topo img {
    width: 100%;
    height: 100%;
}

#txt-topo {
    width: 50%;
    height: 100%;
    /* background-color: rgb(8, 199, 34); */
    display: flex;
    flex-direction: column;
    text-align: right;
    padding: 100px 50px 0px 100px;
    align-items: flex-end;
}

h1{
    text-transform:uppercase ;
    font-size: 40px;
    color: green;
    /* background-color: aqua; */
}
.cor-letra{
    color: orangered;
}

#txt-topo p{
    font-size: 20px;
    padding-left: 150px;
    margin-top: 20px;
    /* background-color: #EA6200; */
}

#comprar{
    width: 40%;
    height: 50px;
    border-radius: 50px;
    color: #fff;
    background-color: #EA6200;
    margin-top: 15px;
    font-size: 15px;
    cursor: pointer;
}

#comprar:hover{
    transition: all 1s;
    background-color: #ea6200cc;
}

#promocao{
    width: 100%;
    height: 400px;
    /* background-color: #ff7979; */
}

#promocao{
    width: 70%;
    height: 385px;
    background-repeat: no-repeat;
    /* background-color: #000; */
    background-image: url('img/eclipse-promocao.svg');
}

#titulo h2 {
    margin: auto;
    font-size: 30px;
    text-align: center;
    width: 150px;
    color: #0FB600;
    border-bottom: 1px solid #0FB600;
}

#titulo-produtos h3{
    text-transform:uppercase ;
    text-align: center;
    font-size: 25px;
    color: green;
    margin: 20px 0px;
    /* background-color: aqua; */
}

#produtos{
    width: 100%;
    height: auto;
    /* background-color: coral; */
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(0deg, #fff 20%, #0FB600 20%, #0FB600 80%, #fff 20%);
}

.circulos{
    width: 20%;
    /* background-color: rgb(241, 241, 0); */
}

.circulos img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 10px solid #fff;
}

#titulos-produtos{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#titulos-produtos h4{
    width: 20%;
    text-align: center;
    font-size: 20px;
    color: #0FB600;
    margin: 20px 0px;
}

footer{
    width: 100%;
    height: auto;
    background-color: #EA6200;  
    display: block;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    color: #fff;
    margin-top: 50px;
}

.divisoes{
    width: 100%;
    height: auto;
    padding: 10px;
}

.divisoes h5, h6{
    font-weight: normal;
    font-size: 14px;
}